PORT=4000
MONGODB_URI=mongodb+srv://<db_username>:XlmXKGwxJulYT9As@cluster0.sosnhy3.mongodb.net/?appName=Cluster0
JWT_SECRET=pyramid-assessment-production-2026-a8F7kQ2mX9vL4rT6
FRONTEND_URL=http://localhost:3000
